@model FASM_EN.Setups.Regions

<div id="Editstatus-area"></div>
<form class="form" role="form">
    <div class="form-group">
        @Html.LabelFor(m => m.RegionName, new { @class = "col-md-6 control-label" })
        @Html.TextBoxFor(m => m.RegionName, new { @class = "form-control", id = "EditRegionName" })
        @Html.HiddenFor(m => m.RegionId, new { id = "EditRegionId" })
    </div>
</form>

