@model FASM_EN.User.Permissions
@using FASM.GeneralObjects
@{
    ViewBag.Title = "Permission";
    ViewBag.HeaderText = "Permissions";
}
@section breadcrumb{
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index",ControllerName.Accounts)">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Accounts</a></li>
        <li class="breadcrumb-item active" aria-current="page">Permissions</li>
    </ol>
}

<div class="tile">

   
       <table id="myTable" class="table">
           <thead>
               <tr>
                   <th></th>
                   <th>Permission</th>
                   <th>ModName</th>
               </tr>
           </thead>
           <tbody>
                @foreach (System.Data.DataRow item in Model.dtPermissions.Rows)
                {
                   <tr>
                        <td></td>
                       <td>@item["PermissionDescription"]</td>
                       <td>@item["ModName"]</td>
                   </tr>
                }
           </tbody>
       </table>
        
    </div>

@section Scripts{
    @Scripts.Render("~/DataTables/js")
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                "columnDefs": [
                    { "visible": false, "targets": 2 }
                ],
                "order": [[2, 'asc']],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(2, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group"><td colspan="5">' + group + '</td></tr>'
                            );

                            last = group;
                        }
                    });
                }
            });

            // Order by the grouping
            $('#myTable tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                }
                else {
                    table.order([2, 'asc']).draw();
                }
            });

            $('#myTable').DataTable();
        });
    </script>
    }